@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.width-75 {
  width: 75%;
  margin: auto;
}

.list-inline {
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.list-inline li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: grey;
}

.list-inline li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

.header-top {
  height: 25px;
  background-color: #0282f9;
}

.header-nav {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav img {
  height: 75px;
  width: 75px;
}

.jumbotron {
  height: 400px;
  background-image: url("/img/jumbotron.jpg");
}

.comics {
  background-color: #1c1c1c;
  padding: 50px 0;
}

.comics .container {
  display: flex;
  flex-wrap: wrap;
}

.comics .container .card {
  width: calc(100% / 6 - 20px);
  margin: 10px;
}

.comics .container .card img {
  width: 100%;
}

.comics .container .card p {
  color: white;
}

.comics-nav {
  height: 100px;
  background-color: #0282f9;
}

.footer-top {
  background-image: url("/img/footer-bg.jpg");
  height: 400px;
}

.footer-bottom {
  height: 100px;
  background-color: #303030;
}

